.App {
  text-align: center;
}

.select{
  margin-top: 100px;
  margin-left: 190px;
  background-color: rgba(60, 178, 247, 0.4);
}

.content {
  padding-left: 14%;
  font-size: 12px;
}

#container{
  margin-right: 40px;
}

.weather:hover{
  border: 1px solid grey;
}